* {
    padding: 0;
    margin: 0;
}

html,
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #277cff;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.menu {
    box-sizing: border-box;
    width: 960px;
    margin: 5px auto 0 auto;
    padding: 0 10px;
}

.menu-item {
    padding: 7px 12px;
    float: left;
    font-size: 16px;
    cursor: pointer;
}

.menu-item__active {
    padding: 6px 11px;
    border: 1px solid darkred;
}

.menu-item__disabled {
    background-color: #c1c1c2;
    cursor: no-drop;
}

.wrapper {
    box-sizing: border-box;
    width: 960px;
    margin: 10px auto 0 auto;
    padding: 0px 5px;
    border-right: 1px solid rgba(10, 10, 10, 0.82);
    border-left: 1px solid rgba(10, 10, 10, 0.82);
}

h1, h2, h3, h4 {
    text-align: center;
}

h2 {
    margin: 5px 0 10px 0;
}

h3 {
    margin: 3px 0 7px 0;
}

.calendar {
    width: 320px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid black;
}

.calendar-head {
    box-sizing: border-box;
    height: 40px;
    padding-top: 8px;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
}

.daysOfWeek-day {
    width: 40px;
    margin: 0 0 5px 5px;
    float: left;
    font-size: 14px;
    text-align: center;
}

.calendar-date {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    margin: 0 0 5px 5px;
    float: left;
    text-align: center;
    padding-top: 11px;
    font-size: 18px;
    background-color: red;
}

.calendar-date:first-child {
    margin-left: 50px;
}

.calendar-date__today {
    background-color: darkred;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 3px;
}